<div class="container">
    <div *ngIf="error">
        <div class="text-danger"> {{error}}</div>  
    </div>
    <ng-container *ngIf="listTrainings else loading">   
        <div class="card-group">       
            <div *ngFor="let training of listTrainings">                        
                    <div class="card" style="width: 350px; margin-right: 10px; margin-bottom: 10px;">
                        <img class="img-thumbnail img-rounded btn" (click)="onTrainingDetail(training)" [src]="host + '/photo/' + training.id" />
                        <div class="card-body">
                            <div *ngIf="this.authService.isAdmin()">
                                <button (click)="onEditPhoto(training)">
                                  <span class="fa fa-download"></span>
                                </button>
                                <p *ngIf="editPhoto && currentTraining == training">
                                  <input type="file" (change)="onSelectedFile($event)">
                                  <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                                  {{progress}}
                                </p>
                            </div>
                          <h5 class="card-title">{{training.name}}</h5>
                          <div>{{training.description}}</div>
                          <div>{{training.price}}</div>
                          <div *ngIf="this.authService.isAdmin()"> 
                            <a class="btn btn-danger" (click)="onDeleteTraining(training)"> delete </a>
                            <a class="btn btn-secondary" (click)="onUpdateTraining(training)"> update </a>
                          </div>
                          <div class="card-footer">
                            <input type="number" name="quantity" style="width: 30px" [(ngModel)]="training.quantity" >
                            <a class="btn btn-primary" (click)="onAddToCart(training)">
                                <i class="fa fa-shopping-cart"></i>
                            </a>   
                          </div>                          
                        </div>      
                    </div>                                        
            </div>
        </div>

    </ng-container>
    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>
</div>